<p align="center">
  <img src="http://www.phpbenchmarks.com/images/logo_github.png">
  <br>
  <a href="http://www.phpbenchmarks.com" target="_blank">www.phpbenchmarks.com</a>
</p>

## What is www.phpbenchmarks.com?

You will find lot of benchmarks for PHP frameworks, template engines and JSON serializers on [phpbenchmarks.com](http://www.phpbenchmarks.com).

Benchmarks results are available from PHP 5.6 to latest version.

Our benchmarking protocol is available on [benchmarking protocol page](http://www.phpbenchmarks.com/en/documentation/benchmarking-protocol).

## What is this repository?

It contains {{ componentName }} benchmark code.

Switch branch to select version and benchmark you want to see.

You can find source code links into [Configuration::getSourceCodeUrls()](.phpbenchmarks/Configuration.php).

## Benchmarks

You can find {{ componentName }} {{ coreDependencyMajorVersion }}.{{ coreDependencyMinorVersion }} benchmarks results on
[benchmarks results page](http://www.phpbenchmarks.com/en/benchmark/{{ componentSlug }}/{{ coreDependencyMajorVersion }}.{{ coreDependencyMinorVersion }}).

See all {{ componentName }} benchmarked versions on [select version page](http://www.phpbenchmarks.com/en/benchmark/{{ componentSlug }}/version).

## Community

Go to [community page](http://www.phpbenchmarks.com/en/community) to see the Hall of fame, or download the benchmark kit to add your code!

## How version works?

We do not follow semantic version for this repository. Here is an explanation about our versioning system:

`W` {{ componentName }} major version.

`X` {{ componentName }} minor version.

`Y` {{ componentName }} patch version.

`Z` Benchmark type: `6` JSON serialization of Hello world, `7` Small JSON serialization, `8` Big JSON serialization.
